/* src/styles/header.css */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

.menu a {
  text-decoration: none;
  color: #4c5a4f;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: white;
}

.menu .active {
  color: white;
  font-weight: 700;
}